absl-py==2.4.0
astunparse==1.6.3
certifi==2026.5.20
charset-normalizer==3.4.7
contourpy==1.3.3
cycler==0.12.1
flatbuffers==25.12.19
fonttools==4.63.0
gast==0.7.0
google-pasta==0.2.0
grpcio==1.81.0
h5py==3.14.0
idna==3.17
keras==3.14.1
kiwisolver==1.5.0
libclang==18.1.1
markdown-it-py==4.2.0
matplotlib==3.10.9
mdurl==0.1.2
ml-dtypes==0.5.4
namex==0.1.0
numpy==2.4.6
opt-einsum==3.4.0
optree==0.19.1
packaging==26.2
pillow==12.2.0
protobuf==7.35.0
pygments==2.20.0
pyparsing==3.3.2
python-dateutil==2.9.0.post0
pyyaml==6.0.3
requests==2.34.2
rich==15.0.0
setuptools==82.0.1
six==1.17.0
tensorflow==2.21.0
termcolor==3.3.0
typing-extensions==4.15.0
urllib3==2.7.0
wheel==0.47.0
wrapt==2.2.1
