CairoSVG==2.7.1
mdwrap @ git+https://github.com/csia-pme/mdwrap.git@0.2.2
mkdocs-git-revision-date-localized-plugin==1.2.7
mkdocs-glightbox==0.4.0
mkdocs-material==9.5.34
mkdocs-minify-plugin==0.8.0
pillow==10.4.0
