absl-py==2.4.0
aiohappyeyeballs==2.6.2
aiohttp==3.14.0
aiohttp-retry==2.9.1
aiosignal==1.4.0
amqp==5.3.1
annotated-doc==0.0.4
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
appdirs==1.4.4
astunparse==1.6.3
asyncssh==2.23.0
atpublic==7.0.0
attrs==26.1.0
billiard==4.2.4
celery==5.6.3
certifi==2026.5.20
cffi==2.0.0
charset-normalizer==3.4.7
click==8.4.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
configobj==5.0.9
contourpy==1.3.3
cryptography==48.0.0
cycler==0.12.1
decorator==5.3.1
dictdiffer==0.9.0
diskcache==5.6.3
distro==1.9.0
dpath==2.2.0
dulwich==1.2.6
dvc==3.67.1
dvc-data==3.18.3
dvc-gs==3.0.2
dvc-http==2.32.0
dvc-objects==5.2.0
dvc-render==1.0.2
dvc-studio-client==0.23.0
dvc-task==0.40.2
entrypoints==0.4
filelock==3.29.0
flatbuffers==25.12.19
flatten-dict==0.5.0
flufl-lock==9.1.0
fonttools==4.63.0
frozenlist==1.8.0
fsspec==2026.4.0
funcy==2.0
gast==0.7.0
gcsfs==2026.4.0
gitdb==4.0.12
gitpython==3.1.50
google-api-core==2.30.3
google-auth==2.53.0
google-auth-oauthlib==1.4.0
google-cloud-core==2.6.0
google-cloud-storage==3.10.1
google-cloud-storage-control==1.11.0
google-crc32c==1.8.0
google-pasta==0.2.0
google-resumable-media==2.9.0
googleapis-common-protos==1.75.0
grandalf==0.8
grpc-google-iam-v1==0.14.4
grpcio==1.81.0
grpcio-status==1.81.0
gto==1.9.0
h5py==3.14.0
hydra-core==1.3.2
idna==3.17
iterative-telemetry==0.0.10
keras==3.14.1
kiwisolver==1.5.0
kombu==5.6.2
libclang==18.1.1
markdown-it-py==4.2.0
matplotlib==3.10.9
mdurl==0.1.2
ml-dtypes==0.5.4
multidict==6.7.1
namex==0.1.0
networkx==3.6.1
numpy==2.4.6
oauthlib==3.3.1
omegaconf==2.3.0
opt-einsum==3.4.0
optree==0.19.1
orjson==3.11.9
packaging==26.2
pathspec==1.1.1
pillow==12.2.0
platformdirs==4.10.0
prompt-toolkit==3.0.52
propcache==0.5.2
proto-plus==1.28.0
protobuf==7.35.0
psutil==7.2.2
pyasn1==0.6.3
pyasn1-modules==0.4.2
pycparser==3.0
pydantic==2.13.4
pydantic-core==2.46.4
pydantic-settings==2.14.1
pydot==4.0.1
pygit2==1.19.2
pygments==2.20.0
pygtrie==2.5.0
pyparsing==3.3.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pyyaml==6.0.3
requests==2.34.2
requests-oauthlib==2.0.0
rich==15.0.0
ruamel-yaml==0.19.1
scmrepo==3.6.2
semver==3.0.4
setuptools==82.0.1
shellingham==1.5.4
shortuuid==1.0.13
shtab==1.8.0
six==1.17.0
smmap==5.0.3
sqltrie==0.11.2
tabulate==0.10.0
tensorflow==2.21.0
termcolor==3.3.0
tomlkit==0.15.0
tqdm==4.67.3
typer==0.26.6
typing-extensions==4.15.0
typing-inspection==0.4.2
tzdata==2026.2
tzlocal==5.3.1
urllib3==2.7.0
vine==5.1.0
voluptuous==0.16.0
wcwidth==0.7.0
wheel==0.47.0
wrapt==2.2.1
yarl==1.24.2
zc-lockfile==4.0
