a2wsgi==1.10.10
absl-py==2.3.1
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiohttp-retry==2.9.1
aiosignal==1.4.0
aiosqlite==0.22.1
amqp==5.3.1
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.12.1
appdirs==1.4.4
argcomplete==3.6.3
asgiref==3.11.0
astunparse==1.6.3
asyncssh==2.22.0
atpublic==7.0.0
attr==0.3.1
attrs==25.4.0
azure-core==1.37.0
azure-storage-blob==12.28.0
bentoml==1.4.28
billiard==4.2.4
black==25.12.0
bleach==5.0.1
boto3==1.42.25
botocore==1.42.25
cattrs==23.1.2
celery==5.6.2
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
click-didyoumean==0.3.1
click-option-group==0.5.9
click-plugins==1.1.1.2
click-repl==0.3.0
cloudpickle==3.1.2
colorama==0.4.6
configobj==5.0.9
contourpy==1.3.3
croniter==6.0.0
cryptography==46.0.3
cycler==0.12.1
datamodel-code-generator==0.26.1
decorator==5.2.1
defusedxml==0.7.1
dictdiffer==0.9.0
diskcache==5.6.3
distro==1.9.0
django==5.1.15
django-annoying==0.10.6
django-cors-headers==4.7.0
django-csp==3.7
django-debug-toolbar==3.2.1
django-environ==0.10.0
django-extensions==3.2.3
django-filter==24.3
django-migration-linter==5.2.0
django-model-utils==4.1.1
django-ranged-fileresponse==0.1.2
django-rq==3.1
django-storages==1.12.3
django-user-agents==0.4.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.5.1
dnspython==2.8.0
dpath==2.2.0
drf-dynamic-fields==0.3.0
drf-flex-fields==0.9.5
drf-generators==0.3.0
drf-spectacular==0.28.0
dulwich==0.25.2
dvc==3.63.0
dvc-data==3.16.12
dvc-gs==3.0.2
dvc-http==2.32.0
dvc-objects==5.2.0
dvc-render==1.0.2
dvc-studio-client==0.22.0
dvc-task==0.40.2
email-validator==2.3.0
entrypoints==0.4
expiringdict==1.2.2
faker==40.1.0
filelock==3.20.3
flatbuffers==25.12.19
flatten-dict==0.4.2
flufl-lock==8.2.0
fonttools==4.61.1
frozenlist==1.8.0
fsspec==2025.12.0
funcy==2.0
gast==0.7.0
gcsfs==2025.12.0
genson==1.3.0
gitdb==4.0.12
gitpython==3.1.46
google-api-core==2.29.0
google-auth==2.47.0
google-auth-oauthlib==1.2.2
google-cloud-appengine-logging==1.8.0
google-cloud-audit-log==0.4.0
google-cloud-core==2.5.0
google-cloud-logging==3.13.0
google-cloud-storage==2.19.0
google-cloud-storage-control==1.8.0
google-crc32c==1.8.0
google-pasta==0.2.0
google-resumable-media==2.8.0
googleapis-common-protos==1.72.0
grandalf==0.8
grpc-google-iam-v1==0.14.3
grpcio==1.76.0
grpcio-status==1.76.0
gto==1.9.0
h11==0.16.0
h5py==3.15.1
httpcore==1.0.9
httpx==0.28.1
httpx-ws==0.8.2
hydra-core==1.3.2
idna==3.11
ijson==3.4.0.post0
importlib-metadata==8.7.1
inflect==5.6.2
inflection==0.5.1
isodate==0.7.2
isort==5.13.2
iterative-telemetry==0.0.10
jinja2==3.1.6
jiter==0.12.0
jmespath==1.0.1
joblib==1.5.3
jsf==0.11.2
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kantoku==0.18.3
keras==3.13.0
kiwisolver==1.4.9
kombu==5.6.2
label-studio==1.22.0
label-studio-sdk==2.0.16
launchdarkly-server-sdk==8.2.1
libclang==18.1.1
lockfile==0.12.2
lxml==6.0.2
lxml-html-clean==0.4.3
markdown==3.10
markdown-it-py==4.0.0
markupsafe==3.0.3
matplotlib==3.10.7
mdurl==0.1.2
ml-dtypes==0.5.4
multidict==6.7.0
mypy-extensions==1.1.0
namex==0.1.0
networkx==3.6.1
nltk==3.9.2
numpy==2.2.6
nvidia-ml-py==13.590.44
oauthlib==3.3.1
omegaconf==2.3.0
openai==1.109.1
opencv-python-headless==4.12.0.88
opentelemetry-api==1.39.1
opentelemetry-instrumentation==0.60b1
opentelemetry-instrumentation-aiohttp-client==0.60b1
opentelemetry-instrumentation-asgi==0.60b1
opentelemetry-sdk==1.39.1
opentelemetry-semantic-conventions==0.60b1
opentelemetry-util-http==0.60b1
opt-einsum==3.4.0
optree==0.18.0
ordered-set==4.0.2
orjson==3.11.5
packaging==25.0
pandas==2.3.3
pathspec==1.0.3
pillow==11.3.0
pip-requirements-parser==32.0.1
platformdirs==4.5.1
prometheus-client==0.23.1
prompt-toolkit==3.0.52
propcache==0.4.1
proto-plus==1.27.0
protobuf==6.33.3
psutil==7.2.1
psycopg==3.3.2
psycopg-binary==3.3.2
pyarrow==22.0.0
pyasn1==0.6.1
pyasn1-modules==0.4.2
pyboxen==1.3.0
pycparser==2.23
pydantic==2.12.5
pydantic-core==2.41.5
pydantic-settings==2.12.0
pydot==4.0.1
pygit2==1.19.1
pygments==2.19.2
pygtrie==2.5.0
pyjwt==2.10.1
pyparsing==3.3.1
pyrfc3339==2.1.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-json-logger==2.0.4
python-multipart==0.0.21
pytokens==0.3.0
pytz==2022.7.1
pyyaml==6.0.3
pyzmq==27.1.0
redis==5.2.1
referencing==0.37.0
regex==2025.11.3
requests==2.32.5
requests-file==3.0.1
requests-mock==1.12.1
requests-oauthlib==2.0.0
rich==14.2.0
rich-toolkit==0.17.1
rpds-py==0.30.0
rq==2.6.1
rsa==4.9.1
rstr==3.2.2
ruamel-yaml==0.19.1
rules==3.4
s3transfer==0.16.0
schema==0.7.8
scmrepo==3.6.1
semver==3.0.4
sentry-sdk==2.49.0
setuptools==80.9.0
shellingham==1.5.4
shortuuid==1.0.13
shtab==1.8.0
simple-di==0.1.5
six==1.17.0
smart-open==7.5.0
smmap==5.0.2
sniffio==1.3.1
sqlparse==0.5.5
sqltrie==0.11.2
starlette==0.51.0
tabulate==0.9.0
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorflow==2.20.0
termcolor==3.3.0
tldextract==5.3.1
toml==0.10.2
tomli-w==1.2.0
tomlkit==0.13.3
tornado==6.5.4
tqdm==4.67.1
typer==0.21.1
typing-extensions==4.15.0
typing-inspection==0.4.2
tzdata==2025.3
tzlocal==5.3.1
ua-parser==1.0.1
ua-parser-builtins==202601
ujson==5.11.0
uritemplate==4.2.0
urllib3==2.6.3
user-agents==2.2.0
uuid-utils==0.13.0
uvicorn==0.40.0
vine==5.1.0
voluptuous==0.16.0
watchfiles==1.1.1
wcwidth==0.2.14
webencodings==0.5.1
werkzeug==3.1.5
wheel==0.40.0
wrapt==1.17.3
wsproto==1.3.2
xmljson==0.2.1
yarl==1.22.0
zc-lockfile==4.0
zipp==3.23.0
